.empPro .icon{
    text-align: -webkit-center;
  }
  
  .empPro ion-thumbnail {
    position: relative;
    min-width: 4.5rem;
    min-height: 4.5rem;
    border-radius: 50px;
    padding: 5px;
  }
  
  .empPro ion-thumbnail img {
    border-radius: 50px;
  }