.mainButton{
height: 8em;
width: 8em;
border-radius: 8px;
padding: 10px;
margin: 5px;
}

.salaryBtn{
    height: 8em;
    width: 8em;
    border-radius: 8px;
    margin-left: 20px; 
    padding: 10px;
}

.jobDone{
    height: 10em;
    width: 12em;
 
}
.d-flex{
    display: flex;
}
